body {
  background-color: rgb(245, 245, 245);
}

* {
  font-family: "Roboto";
}

rect {
  fill: none;
  pointer-events: all;
}

.hull {
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 5px;
  stroke-linejoin: round;
}

.mar {
  fill: transparent;
  stroke: red;
  stroke-width: 5px;
  stroke-linejoin: round;
}

circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}

.pointInput {
  margin-bottom: 20px;
}

.pointInput {
  padding: 10px;
}

button {
  padding: 10px 15px;
  background: #555;
  color: white;
  outline: none;
  transition: all 0.25s;
}

button:hover {
  background: #999;
  color: black;
}

.button-group {
  margin: 15px 0;
  display: flex;
}

.pop-up {
  width: 400px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid black;
  background: #ddd;

  text-align: center;
}
